<h1><%= @places["name"]%></h1>

<div class="row">
  <% for post in @posts %>
    <div class="col-3">
      <h4><%= post["title"] %></h4>
      <p><%= post["created_at"].strftime("%Y-%m-%d") %></p>
      <p><%= post["description"] %></p>
    </div>
  <% end %>
</div>

<p><a href="">New Post</a></p>

<p><a href="/places">Back to All Places</a></p>