<h1>Places I've Been</h1>

<p>I have been to <%= @places.count%> places</p>

<p><%= puts Place.all%></p>

  <% for place in @places %>
  <h4>  
   <a href="/places/<%= place["id"]%>">
    <%= place["name"]%> 
    </a>
  </h4>
  <% end %>

<p> </p>


<p><a href="/places/new">New Place</a></p>